body {
    font-family: tahoma, sans-serif;
    color: #000000;
    font-size: 12pt;
}

div {
    color: #000000;
}

a {
    font-size: 13pt;
    color: #005555;
    font-weight: bold;
}

.mainheader {
    color: #000000;
    font-weight: bold;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sectionheader {
    font-weight: bold;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.detailedtext {
    color: #005555;
    font-size: 12pt;
    font-weight: bold;
}

.note {
    color: #000000;
    font-size: 11pt;
}

.header {
    color: #006666;
    font-size: 14pt;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 13pt;
}

td {
    color: #000000;
    font-size: 12pt;
}

li {
    margin: 0 0 2px 8px;
}
